---
import Layout from '../layouts/Layout.astro';
import AstroLogo from '@components/icons/astro.astro';
---

<Layout title="Welcome to shurl">
	<main>
		<AstroLogo />
		<h1>Welcome to <span class="text-gradient">Shurl</span></h1>
		<div class="shorter-container">
			<input type="text" id="url" placeholder="Enter your URL" name="url" />
			<button id="shorten">Shorten</button>
		</div>

		<p class="text-gray"> Shurl is a simple URL shortener that allows you to shorten your long URLs into a shorter version and image optimization service that allows you to optimize your images for the web, which helps in reducing the size of the image without losing the quality of the image.</p>

		<p class="text-gray">Shurl is built with Astro, a modern static site generator that allows you to build faster websites with less JavaScript. </p>

		<p class="warning">WARNING: This is a demo project and the shortened URLs are stored in a sqlite database and data can be lost at any time. </p>
	</main>
</Layout>

<script>
	const $ = (selector:string) => document.querySelector(selector);
	const urlInput = $('#url') as HTMLInputElement;
	const shortenButton = $('#shorten');
	if (!urlInput || !shortenButton) {
		throw new Error('Element not found');
	}
	shortenButton.addEventListener('click', async () => {
		const url = urlInput.value;
		if (!url) {
			alert('Please enter a URL');
			return;
		}
		const response = await fetch('/api/shorten', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ url })
		});
		const {error, short} = await response.json();
		if (error) {
			alert(error);
			return;
		}
		await navigator.clipboard.writeText(short);
		alert('Short URL copied to clipboard');
	});
</script>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--gradiant-blue);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.shorter-container {
		display: flex;
		margin-top: 2rem;
	}
	input {
		flex: 1;
		padding: 0.5rem;
		font-size: 1.5rem;
		resize: none;
		border: none;
		border-radius: 0.5rem 0 0 0.5rem;
	}
	button {
		padding: 0.5rem 1rem;
		font-size: 1.5rem;
		border: none;
		border-radius: 0 0.5rem 0.5rem 0;
		color: white;
		cursor: pointer;
		background: var(--gradiant-blue);
		&:hover {
			border-radius: 0.5rem;
		}
	}

	.warning {
		color: #90882e;
		font-size: 1.5rem;
	}
	
	.text-gray {
		color: #7d7a7a;
		font-size: 1rem;
		text-wrap: pretty;
	}
</style>
