---
import Layout from '../layouts/Layout.astro';
import AstroLogo from '@components/icons/astro.astro';


---

<Layout title="Welcome to shurl">
	<main>
		<AstroLogo />
		<h1>Welcome to <span class="text-gradient">Shurl</span></h1>
		<div class="shorter-container">
			<input type="text" id="url" placeholder="Enter your URL" name="url" />
			<button id="shorten">Shorten</button>
		</div>
		
	</main>
</Layout>

<script>
	const $ = (selector:string) => document.querySelector(selector);
	const urlInput = $('#url') as HTMLInputElement;
	const shortenButton = $('#shorten');
	if (!urlInput || !shortenButton) {
		throw new Error('Element not found');
	}
	shortenButton.addEventListener('click', async () => {
		const url = urlInput.value;
		if (!url) {
			alert('Please enter a URL');
			return;
		}
		const response = await fetch('/api/shorten', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ url })
		});
		const {error, short} = await response.json();
		if (error) {
			alert(error);
			return;
		}
		await navigator.clipboard.writeText(short);
		alert('Short URL copied to clipboard');
	});
</script>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.shorter-container {
		display: flex;
		margin-top: 2rem;
	}
	input {
		flex: 1;
		padding: 0.5rem;
		font-size: 1.5rem;
		resize: none;
		border: none;
		border-radius: 0.5rem 0 0 0.5rem;
	}
	button {
		padding: 0.5rem 1rem;
		font-size: 1.5rem;
		border: none;
		border-radius: 0 0.5rem 0.5rem 0;
		color: white;
		cursor: pointer;
		background: var(--gradiant-blue);
		&:hover {
			border-radius: 0.5rem;
		}
	}
	
</style>
